LLAMA_CPP_AUTO_START=true
LLAMA_CPP_BIN_PATH=./llama_cpp/bin/llama-server
LLAMA_CPP_MODEL_PATH=./llama_cpp/models/model.gguf
LLAMA_CPP_HOST=127.0.0.1
LLAMA_CPP_PORT=15000
LLAMA_CPP_DEFAULT_MODEL=qwen2.5-1.5b-instruct-q4_k_m.gguf
LLAMA_CPP_FALLBACK_ENABLED=true
LLAMA_CPP_CONTEXT=4096
LLAMA_CPP_THREADS=4
LLAMA_CPP_EXTRA_ARGS=
